<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>
        {{web}}
    </p>
</div>
<article class="about">
    <h2>Sobre mí</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut blanditiis dolores, itaque minima saepe officiis quos
        vitae ad, distinctio voluptas repellat accusamus consequuntur dolorum. Beatae, ipsa voluptates. Provident,
        exercitationem a!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut blanditiis dolores, itaque minima saepe officiis
        quos
        vitae ad, distinctio voluptas repellat accusamus consequuntur dolorum. Beatae, ipsa voluptates. Provident,
        exercitationem a!</p>
</article>